form {
    /*border: 1px solid deeppink;*/
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    position: relative;
}

.input {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
    @media (max-width: 40em) {
        flex-direction: column;
        gap: 1rem;
    }

    input {
        padding: 0.6875rem 1.125rem;
        appearance: none;
        border-radius: 0.75rem;
        border: 2px solid var(--border-primary);
        width: 100%;
        outline: none;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: var(--content-primary);
    }

    input::placeholder {
        color: var(--content-tertiary);
        font-family: "inter", sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    input:hover {
        border-color: var(--border-hover);
    }

    input:focus {
        border-color: var(--color-brand);
    }
    
    button {
        background-color: var(--color-brand);
        padding: 0.75rem 1.5rem;
        border-radius: 0.75rem;
        border: none;
        color: var(--bg-secondary);
        font-family: "inter", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25rem;
        min-width: max-content;
    }

    button:hover {
        background-color: var(--color-brand-hover);
    }
}

.full-list {
    margin-bottom: 2rem;
    ul {
        display: flex;
        flex-direction: column;   
        gap: 0.75rem;     
        li {
            background-color: var(--bg-secondary);
            border-radius: 0.75rem;
            padding: 1rem 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem; 

            input[type="checkbox"] {
                appearance: none;
                width: 1rem;
                height: 1rem;
                border: 1px solid var(--border-primary);
                border-radius: 0.375rem;
                cursor: pointer;
            }

            input[type="checkbox"]:hover {
                border-color: var(--border-hover);
            }

            input[type="checkbox"]:checked {
                background-color: var(--color-brand);
                border-color: var(--color-brand);
                position: relative;
                background-image: url("../assets/check.svg"); /* Caminho para a imagem do check */
                background-size: 8px 7px; /* Ajuste o tamanho da imagem */
                background-position: center; /* Centraliza a imagem no checkbox */
                background-repeat: no-repeat; /* Garante que a imagem não seja repetida */
            }
            
            input[type="checkbox"]:checked::after {
                top: -0.08rem;
                left: 0.18rem;
                position: absolute;
            }
        }
    }  
  
    label {
        margin-right: auto;
    }

    button {
        background-color: transparent;
        border: none;
        height: 1rem;
        width: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            height: 1rem;
            width: 1rem;
        }
    }
}

.alert {
    position: fixed;        
    bottom: 2rem;           
    width: 100%;            
    max-width: 50%;         
    margin: 0 auto;         
    background-color: var(--color-danger);
    padding: 1rem 1.25rem;
    color: white;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 100;

    img {
        width: 1rem;
        height: 1rem;
    }

    strong {
        margin-right: auto;
        font-weight: 400;
    }

    button {
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border: none;
        height: fit-content;
        cursor: pointer;
        img {
            width: 0.875rem;
            height: 0.875rem;    
        }
    }
  }